<main class="main">
    <section class="form">
        <section class="teamTypeSection">
            <h3>What kind of team are you building?</h3>
            <input type="radio" id="dungeons" name="teamType">
            <label for="dungeons">
                <img src="../../../../assets/images/dungeonsIcon.webp" alt="Dungeons">
            </label>
            <input type="radio" id="kuudra" name="teamType">
            <label for="kuudra">
                <img src="../../../../assets/images/kuudraIcon.webp" alt="Kuudra">
            </label>
        </section>
    </section>
</main>