<main>
  <header class="header">
    <h1>Welcome to HyTeams!</h1>
  </header>
  <section class="main">
    <article class="platform grid">
      <h1>What is HyTeams?</h1>
      <p>
        HyTeams is a platform to create or find a team to play various hypixel
        skyblock teambased quests and events like Kuudra, Dungeons or the
        Mythological Rituals.
      </p>
      <p>
        If you want to find some teammates to play with, HyTeams is the right
        place for you! Just make an account and start creating or joining a
        team.dwad
      </p>
    </article>
    <article class="small1 grid">
      <h1>How do I get started with HyTeams?</h1>
      <p>
        Register an account at the <a routerLink="/register">Register</a> page.
        After registering your account and logging in, you will be able to start
        looking for teams on the <a routerLink="/teams">Teams</a> page. or
        create your own team at the <a routerLink="/my-team">My Team</a> page.
      </p>
    </article>
    <article class="small2 grid">
      <h1>What quests and events does HyTeams support?</h1>
      <p>As of now, we only support Dungeons, more is on it's way.</p>
      <p>
        Kuudra will be first on our agenda, if you want updates on the process,
        make sure to turn on update notifications at the
        <a routerLink="/build-project">Build Project</a> page.
      </p>
    </article>
  </section>
</main>
