<main class="main">
  <a routerLink="/home" draggable="false"><img id="logo" src="../../../assets/images/HyTeams Logo.png" alt="HyTeams" draggable="false"/></a>
  <nav class="nav">
    <a class="anchor" routerLink="/home">Home</a>
    <a class="anchor" routerLink="/about-us">About Us</a>
    <a class="anchor" routerLink="/teams">Teams</a>
    <a class="anchor" id="login" routerLink="/login" style="display: none;">Login</a>
    <a class="anchor" id="profile" routerLink="/profile" style="display: none;">Profile</a>
  </nav>
</main>
