<main class="main">
  <a routerLink="/home" draggable="false"><img id="logo" src="../../../assets/images/HyTeams Logo.png" alt="HyTeams" draggable="false"/></a>
  <nav class="nav">
    <a class="anchor" routerLink="/home">Home</a>
    <a class="anchor" routerLink="/about-us">About Us</a>
    <a class="anchor" routerLink="/teams">Teams</a>
    <a *ngIf="loggedIn == false" class="anchor" id="login" routerLink="/login">Login</a>
    <a *ngIf="loggedIn == true" class="anchor" id="profile" routerLink="/profile">Profile</a>
  </nav>
</main>
